@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}
section{
    min-height:100vh;
    width:100%;
    position:relative;
    overflow-x: hidden;
    overflow-y: hidden;

}
.bg{
    background:#fc4a55;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition: 0.5s;
}
.bg::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height:100%;
    background:rgba(0,0,0,0.1);
}
header{
    background:transparent;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
nav{
    width:80%;
    min-height:10vh;
    margin:auto;
    margin-top:.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .logo{
position: relative;
color:#fff;
font-size:2.5rem;
font-family:"lobster",sans-serif;
font-weight:500;
text-decoration: none;

}
nav ul  {
    position: relative;
    display:flex;
   
}
nav ul li {
    list-style:none;
    
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-weight:400;
    color:#fff;
    margin-left:1rem;
    padding:.75rem 1.5rem;
    font-size:1.25rem;
    border-radius:30px;
  
}
nav ul li a:hover,
nav ul li a.active{
    background:#fff;
    color:#333 ;
}
.content{
    display:grid;
    position:relative;
    grid-template-columns: 10% repeat(3,minmax(4rem,1fr)) 2fr 10%;
    grid-template-rows: 7rem 2fr auto;
    overflow-y:hidden;
    margin-top:10vh;
    margin-bottom:10vh;
    
}
.textbox{   
    margin-top:10%;
    grid-column:2/5;
    grid-row:2/3;
    color:#fff;
    
}
br.responsive{
    display:inline;
}
.textbox h2{
    font-family: "poppins",sans-serif;
    line-height:1.2em;
    font-size:4em;
    display: inline-block;
    
    
}
.textbox p{
font-family: 'Montserrat', sans-serif;
font-size:100px;
margin-right:11rem;
margin-top:30px;
font-size:1.10rem;
}
.textbox a {
   display:inline-block;
   font-size:1.15rem;
    padding:.5rem 1.25rem;
    border-radius:20px 50px 20px 50px;
    background:#fff;           
    color:#333;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top:25px;
   
}

.content .imgbx {
    grid-column:5/6;
    grid-row:2/3;
    display:flex;
    
   margin-left: 13%;
   
}
.content .imgbx img{
    max-width:450px; 
}
.magicbox{
    position:absolute;
    bottom:3%;
    left:50%;
    transform: translateX(-50%);
}
.magicbox ul{
display: flex;

}
.magicbox ul li{
    margin-right:20px;
    padding:.5rem .75rem;
    border:2px solid rgba(255,255,255,0.25);
    list-style:none;
    cursor:pointer;
    background:rgba(255,255,255,0.1);
    transition:0.5s ease;
    height:70px;
    transition: all 0.5s ease;
}
.magicbox ul li img{
    width:55px;
}
.magicbox ul li.active{
border:3px solid rgba(255,255,255,1);

}
.magicbox ul li.active::before{
    content:attr(data-text);
    position:absolute;
    top:-200px;
    left:50%;
    transform: translateX(-50%);
    font-size:8em;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(0,0,0,0.05);
    font-weight: 700;
    pointer-events: none;
}
.social{
    position:absolute;
    right:30px;
    top:50%;
    transform: translateY(-50%);
    
}
.social ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social ul li{
    list-style: none;
}
.social ul li a{
    display: inline-block;
    margin:10px 0;
    transform:scale(0.7);
    filter:invert(1);
    transition:.5s ease;
}
.social ul li a:hover{
    transform:scale(1.1);
    
}
/* --------------------------------------------------media queries-------------------------------------------------- */


@media (max-width:991px) {
   
    .bg::before{
        display: none;
    }
  nav{
      width:100%;
      justify-content: space-between;
  }
    nav .logo{
        margin-left:20px; 
    }
    nav .toogle{
        margin-right:20px; 
    }
   
    section{
        padding:20px;
        padding-bottom: 120px;
        width:100%;
    }
    .content{
        display: flex;
        margin-top:8rem;
        flex-direction: column;
        
    }
    .content .textbox{
        max-width: 100%;
    }
    br.responsive{
        display:none;
    }
    .content .textbox h2{
       
        font-size:2.5em;
        margin-bottom: 15px;
    }
    .content .textbox p{
        margin-right: 0;
    }
    .content  .imgbx{
        
        justify-content: center;
        
        max-width: 100%;
    }
    .content  .imgbx img{
        max-width:290px;
    }
    .magicbox li{
        margin:0 3px;
        height:55px;
    }
    .magicbox li img{
        max-width:40px;
    }
    .magicbox li.active::before{
        position: absolute;
        top:-150px;
        left:0;
        font-size:6em;
    }
    .social {
        background:rgba(0,0,0,0.1);
        right:0;
        width:40px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    header nav ul{
        display: none;
    }
    header nav ul.active{
        position:fixed;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background:#fc4a55;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index:10;
          
    }
    header nav ul.active li {
        font-size:1.2em;
        margin-bottom:2rem;
    }
    .toogle{
        position: relative;
        height:30px;
        width:30px;
        cursor: pointer;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        z-index:10000;
    }
    .toogle.active{
        position:fixed;
        right:8px;
        background:url(images/close.png);
        background-repeat: no-repeat;
        background-position:center ;
        background-size:25px;
    }
    .magicbox ul li{
        margin-right:5px;
        margin-left:10px;
        justify-content: space-evenly;
       
    }
    .magicbox ul li.active::before{
        display: none;
    }
    
}
@media (max-width:380px){
    br.responsive{
        display:none;
    }
    .textbox h2{
        font-size:.25rem;
    }
    .magicbox{
        bottom:10px;
    }
    .magicbox ul li {
        height:60px;
        padding:.5rem .4rem;
    }
    .magicbox ul li img{
        width:40px;
    }

}